<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>    
    <add key="shouldprocess" value="true"/>
    <add key="updateMetaDataOnly" value="false"/>
    <add key="operationType" value="move"/>
    
    <add key="resourceMeta" value="L:\ResourceMetaData.json"/>
    <add key="backupMeta" value="E:\Development Zone\GitHub\ImageSychronizer\ImageSynchronizer\MetaDataJSON\Chisty\ResourceMetaData.json"/> 
    <add key="basePhotoDir" value="L:\Timeline Photos"/>
    <add key="baseMovieDir" value="L:\Timeline Videos"/>
    <add key="inputdir" value="I:\Camera- Jan - Copy"/>           
  </appSettings>
</configuration>
